data_augmentation/secret_keys.py
data_augmentation/__pycache__/*

# You need to exclude then include each subdirectory for .gitignore
# https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files
data/*
!data/Fakeddit
data/Fakeddit/*
!data/Fakeddit/requirements.txt
!data/Fakeddit/image_downloader.py

!data/MMHS150K
data/MMHS150K/*
!data/MMHS150K/requirements.txt
